.rectangleDiv {
  width: 100%;
  position: relative;
  background-color: #dedede;
  height: 719px;
  top: 120px;
  z-index: -1;
}

.loremIpsum{
  width: 100%;
  font-size: 40px;
  top: -520px;
  left: -5%;
  max-width: 600px;
  line-height: 140%;
  margin: 0 auto;
  letter-spacing: 0.05em;
  font-family: Nunito, sans-serif;
  color: #4f4f4f;
  box-sizing: border-box; ;
  display: block;
  position: relative;
  text-align: center; 
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px; 
  margin-top: -1190px;
  margin-left: -170px;
}

.image {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  left: 62%;
  top: -630px;
}

.locationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
  margin-top: 50px;
}

.locationItem {
  position: relative;
  width: 100px; 
  height: 100px; 
  display: flex;
  justify-content: center;
  align-self: center;
}

.ellipseDiv,
.ellipseDiv1,
.ellipseDiv2 {
  position: absolute;
  top: -420px;
  left: -500%;
  width: 100% !important;
  height: 90px !important;
  border-radius: 50%;
  background-color: #005cff;
  z-index: 1 !important; 
  box-sizing: border-box;
}

.mapPinIcon,
.mapPinIcon1,
.mapPinIcon2 {
  position: absolute;
  top: -400px; 
  left: -473%; 
  width: 50px;
  height: 50px;
  z-index: 2 !important; 
  display: block;
}

.aeneanMassaCum,
.aeneanMassaCum1,
.aeneanMassaCum2 {
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 2.2; 
  font-family: Nunito, sans-serif;
  color: #4f4f4f;
  box-sizing: border-box; ;
  display: block;
  text-align: left; 
}

.aeneanMassaCum {
  top: -1290px;
  left: 35%;
}

.aeneanMassaCum1 {
  top: -1100px;
  left: 16.2%;
}

.aeneanMassaCum2 {
  top: -900px;
  left: -2.5%;
}


@media (min-width: 1910px) {
  .segundoBanner {
    width: 30%;
    height: 728.1px;
    top: -660px;
    left: 60%;
  }

  .ellipseDiv,
  .ellipseDiv1,
  .ellipseDiv2 {
    width: 5%;
    height: 100px;
  }

  .mapPinIcon,
  .mapPinIcon1,
  .mapPinIcon2 {
    width: 45px;
    height: 45px;
  }

  .aeneanMassaCum,
  .aeneanMassaCum1,
  .aeneanMassaCum2 {
    font-size: 18px;
  }
}


@media (max-width: 1899px) and (min-width: 768px) {

  .segundoBanner {
    width: 40%;
    height: 600px;
    top: -500px;
    left: 50%;
  }

  .ellipseDiv,
  .ellipseDiv1,
  .ellipseDiv2 {
    width: 100% !important;
    top: -540px;
  }

  .locationWrapper{
    gap: 85px; 
  }

  .loremIpsum{
    font-size: 50px;
    position: relative;
    top: -570px;
  }

  .mapPinIcon,
  .mapPinIcon1,
  .mapPinIcon2 {
    width: 45px;
    top: -515px;
    height: 45px;
  }

  .aeneanMassaCum,
  .aeneanMassaCum1,
  .aeneanMassaCum2 {
    font-size: 17px;
    width: 400px;
    margin-top: 20px;
  }

}


@media (max-width: 1066px){
  .segundoBanner {
    width: 60%;
    position: relative;
    height: 530px;
    top: 100px;
    left: -14%;
  }

  .ellipseDiv,
  .ellipseDiv1,
  .ellipseDiv2 {
    width: 80% !important;
    height: 70px !important;
    left: -270%;
    top: -510px;
  }

  .mapPinIcon,
  .mapPinIcon1,
  .mapPinIcon2 {
    width: 30px;
    left: -245%;
    top: -490px;
    height: 25px;
  }

  .aeneanMassaCum,
  .aeneanMassaCum1,
  .aeneanMassaCum2 {
    font-size: 13px;
    width: 250px;
    margin-top: 1%;
  }

  .textWrapper{
    margin-top: -1050px;
  }

  .loremIpsum{
    font-size: 28px;
    top: -530px;
    left: -10%;
  }

}


@media (max-width: 879px) {
  .segundoBanner {
    width: 50%;
    height: auto;
    top: 140px;
    left: -9%;
  }

  .ellipseDiv,
  .ellipseDiv1,
  .ellipseDiv2 {
    width: 70% !important;
    height: 70px !important;
    left: -270%;
    top: -490px;
  }

  .mapPinIcon,
  .mapPinIcon1,
  .mapPinIcon2 {
    width: 20px;
    top: -465px;
    height: 20px;
  }

  .aeneanMassaCum,
  .aeneanMassaCum1,
  .aeneanMassaCum2 {
    font-size: 12px;
    width: 250px;
    text-align: left;
  }

  .textWrapper{
    margin-top: -940px;
  }

  .loremIpsum{
    font-size: 28px;
    top: -500px;
    left: -12%;
  }
}

@media (max-width: 769px) {

  .container {
    width: 100%;
    height: auto;
    position: relative;
    top: 510px;
    left: 0%;
  }

  .rectangleDiv {
    width: 100%;
    height: 1080px;
    position: relative;
  }

  .locationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
  }
  
  .segundoBanner {
    width: 80% !important;
    height: auto;
    top: -370px;
    left: -53%;
  }

  .ellipseDiv,
  .ellipseDiv1,
  .ellipseDiv2 {
    width: 60% !important;
    height: 60px !important;
    left: -230%;
    top: -340px;
  }

  .mapPinIcon,
  .mapPinIcon1,
  .mapPinIcon2 {
    width: 40px;
    top: -330px;
    height: auto;
    left: -200%;
    z-index: 999 !important;
    transform: translate(-50%);
    display: block;
  }

  .aeneanMassaCum,
  .aeneanMassaCum1,
  .aeneanMassaCum2 {
    font-size: 13px;
    width: 380px;
    text-align: left;
  }

  .textWrapper{
    position: relative;
    top: 60px;
    left: 15%;
    gap: 2px;
  }

  .loremIpsum{
    font-size: 47px;
    position: relative;
    color: black;
    top: -390px;
    left: auto;
  }

}

@media (max-width: 583px){
  .loremIpsum{
    font-size: 47px;
    position: relative;
    color: black;
    top: -440px;
    left: auto;
  }
}

@media (max-width: 479px){
  .loremIpsum{
    font-size: 47px;
    position: relative;
    color: black;
    top: -600px;
    left: auto;
  }
  .ellipseDiv,
  .ellipseDiv1,
  .ellipseDiv2 {
    width: 50% !important;
    height: 50px !important;
    left: -130%;
    top: -340px;
  }
  
  .mapPinIcon,
  .mapPinIcon1,
  .mapPinIcon2 {
    width: 30px;
    top: -330px;
    height: auto;
    left: -105%;
    z-index: 999 !important;
    transform: translate(-50%);
    display: block;
  }

  .aeneanMassaCum,
  .aeneanMassaCum1,
  .aeneanMassaCum2 {
    font-size: 11px;
    width: 250px;
  }

  .textWrapper{
    position: relative;
    top: 60px;
    left: 26%;
    gap: 2px;
  }

}

@media (max-width: 360px){
  .loremIpsum{
    font-size: 40px;
    position: relative;
    color: black;
    top: -620px;
    left: auto;
  }
  .ellipseDiv,
  .ellipseDiv1,
  .ellipseDiv2 {
    width: 50% !important;
    height: 50px !important;
    left: -95%;
    top: -340px;
  }
  
  .mapPinIcon,
  .mapPinIcon1,
  .mapPinIcon2 {
    width: 30px;
    top: -330px;
    height: auto;
    left: -71%;
    z-index: 999 !important;
    transform: translate(-50%);
    display: block;
  }

  .aeneanMassaCum,
  .aeneanMassaCum1,
  .aeneanMassaCum2 {
    font-size: 11px;
    width: 250px;
  }

  .textWrapper{
    position: relative;
    top: 60px;
    left: 35%;
    gap: 2px;

  }
}